@model List<TECHWORLD_1.Models.CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_frontEnd.cshtml";
}

<!-- Cart -->
<head>
    <style>
        .close {
            background: url('../images/close_1.png') no-repeat 0px 0px;
            cursor: pointer;
            width: 28px;
            height: 28px;
            position: absolute;
            right: 15px;
            top: -13px;
            -webkit-transition: color 0.2s ease-in-out;
            -moz-transition: color 0.2s ease-in-out;
            -o-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
        }
    </style>
</head>

<div class="cart_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title" style="font-family:serif;font-weight:bolder;font-size:38px;">Giỏ Hàng Của Bạn</div>

                    @if (Context.Session.Get<List<CartItem>>("GioHang") != null)
                    {
                        @if (Model != null)
                        {
                            <div class="cart_items">
                                <ul class="cart_list" style="width: 1100px;">

                                    <li class="cart_item clearfix">
                                        <div class="cart_item_image" style="height:0px;width:100px;"></div>
                                        <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between" style="float:right;">
                                            <div class="cart_item_name cart_info_col">
                                                <div class="cart_item_title" style="width:238px;font-size:18px;font-weight:bold;color:dimgray;">Tên sản phẩm</div>
                                            </div>
                                            <div class="cart_item_color cart_info_col">
                                                <div class="cart_item_title" style="width:120px;font-size:18px;font-weight:bold;color:dimgray;margin-left:77px;">Số lượng</div>
                                            </div>
                                            <div class="cart_item_quantity cart_info_col">
                                                <div class="cart_item_title" style="width:170px;padding-left:50px;font-size:18px;font-weight:bold;color:dimgray;margin-left:7px;">Giá bán</div>
                                            </div>
                                            <div class="cart_item_quantity cart_info_col">
                                                <div class="cart_item_title" style="width:200px;padding-left:50px;font-size:18px;font-weight:bold;color:dimgray;">Thành tiền</div>
                                            </div>
                                            <div class="cart_item_price cart_info_col">
                                                <div class="cart_item_title" style="width:80px;padding-right:50px;font-size:18px;font-weight:bold;color:dimgray;">Xóa</div>
                                            </div>
                                        </div>
                                    </li>

                                    @{
                                        double tongtien = 0;

                                    }
                                    @foreach (var item in Model)
                                    {
                                        <li class="cart_item clearfix">
                                            <div class="cart_item_image" style="width:100px;"><a href="/san-pham/@item.MaHh/@item.TenHh.ToUrlFriendly()"><img src="~/HangHoa/@item.Hinh" alt="" style="height:90px;"></a></div>
                                            <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                                <div class="cart_item_name cart_info_col">
                                                    <div class="cart_item_text" style="width:300px; margin-left: 9.53%">@item.TenHh</div>
                                                </div>
                                                <div class="cart_item_quantity cart_info_col">
                                                    <div class="cart_item_text" style="width:60px;">
                                                        <div class="quantity">
                                                            <div class="quantity-select">
                                                                <input type="hidden" id="mahh" name="mahh" value="@item.MaHh" />
                                                                <span style="height:35px; width:45px; text-align:center; color:dimgray;margin-left:28px;">@item.SoLuong</span>
                                                                <!--<input class="entry value" style="height:35px; width:45px; text-align:center; background-color:lightgray; color:dimgray;" type="number" min="1" step="1" id="soluongmoi" name="soluongmoi" value="" />-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="cart_item_price cart_info_col">
                                                    <div class="cart_item_text" style="width:170px;margin-right:-26px;">@item.GiaBan.ToString("#,##0") đ</div>
                                                </div>
                                                <div class="cart_item_price cart_info_col">

                                                    <div class="cart_item_text" style="width:200px;margin-right:-28px;">@item.ThanhTien.ToString("#,##0") đ</div>
                                                </div>
                                                <div class="cart_item_total cart_info_col">
                                                    <div class="cart_item_text" style="width:80px;margin-right:-67px">
                                                        <div class="rem">
                                                            <div><a asp-action="ClearCart" asp-controller="GioHang" asp-route-mahh_clr="@item.MaHh" class="close"></a>  </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        tongtien += item.ThanhTien;

                                    }


                                </ul>
                            </div>


                            <div class="order_total" style="width:1100px;height:200px;">
                                <div class="order_total_content text-md-right">
                                    <div class="order_total_title">TỔNG TIỀN:</div>
                                    <div class="order_total_amount" style="width:247px;padding-right:57px;">@tongtien.ToString("#,##0") đ</div>
                                </div>
                                <div class="order_total_content text-md-right">
                                    <div class="order_total_title">PHÍ VẬN CHUYỂN:</div>
                                    <div class="order_total_amount" style="width:247px;padding-right:57px;">0 đ</div>
                                </div>
                                @{
                                    double tonghoadon = tongtien + 0;
                                }
                                <div class="order_total_content text-md-right">
                                    <div class="order_total_title">TỔNG HÓA ĐƠN:</div>
                                    <div class="order_total_amount" style="width:247px;padding-right:57px;">@tonghoadon.ToString("#,##0") đ</div>
                                </div>
                            </div>



                        }

                        <form asp-controller="ThanhToan" asp-action="Index" method="post">
                            <div class="cart_buttons" style="margin-right:115px;">
                                <button type="submit" class="button cart_button_checkout">Đi đến thanh toán</button>
                            </div>
                        </form>
                        <form asp-controller="HangHoa" asp-action="Index" method="post" style="float: left; margin-top: -108px; margin-left: 560px;">
                            <div class="cart_buttons">
                                <button type="submit" class="button cart_button_checkout" style="color: rgba(0,0,0,0.5);background: #FFFFFF;border: solid 1px #b2b2b2;">Tiếp tục mua hàng</button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-danger" style="text-align:center;font-size:17px;font-family:Arial;">
                            Không có sản phẩm nào trong giỏ hàng. <a asp-controller="HangHoa" asp-action="Index" style="text-decoration:none;font-weight:bold;">Đến trang mua hàng!</a>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>


<!--Sản phẩm gợi ý-->
<div class="viewed">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="viewed_title_container">
                    <h3 class="viewed_title" style="font-family:serif; font-weight:bold;font-size:30px;">Sản Phẩm Gợi Ý</h3>
                    <div class="viewed_nav_container">
                        <div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
                        <div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>

                <div class="viewed_slider_container">

                    <!-- Recently Viewed Slider -->

                    <div class="owl-carousel owl-theme viewed_slider">

                        <!-- Recently Viewed Item -->
                        @{
                            TechWorld_2Context db = new TechWorld_2Context();
                            List<HangHoa> hh = db.HangHoa.ToList();
                            Random rd = new Random();
                            List<HangHoa> hh_rd = hh.OrderBy(x => rd.Next()).ToList();
                        }
                        @foreach (var item in hh_rd)
                        {
                            <div class="owl-item">
                                <div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center" style="height:270px;">
                                    <div class="viewed_image"><a href="/san-pham/@item.MaHh/@item.TenHhSeoUrl"><img src="~/HangHoa/@item.Hinh" alt=""></a></div>
                                    <div class="viewed_content text-center">
                                        @{
                                            double giaban = item.DonGia * (1 - item.GiamGia);
                                        }
                                        <div class="viewed_price">@giaban.ToString("#,##0") đ<br /><span>@item.DonGia.ToString("#,##0") đ</span></div>
                                        <div class="viewed_name" style="overflow:hidden; width:77%;max-height:40px;text-align:center;"><a href="/san-pham/@item.MaHh/@item.TenHhSeoUrl">@item.TenHh</a></div>
                                    </div>
                                    @{

                                        if (item.SoLuong > 10)
                                        {
                                            double gg = item.GiamGia * 100;
                                            if (gg == 0)
                                            {
                                                <ul class="item_marks">
                                                    <li></li>
                                                </ul>
                                            }
                                            else
                                            {
                                                <ul class="item_marks">
                                                    <li class="item_mark item_discount">-@gg%</li>
                                                </ul>
                                            }

                                        }
                                        else if (item.SoLuong > 0)
                                        {
                                            <ul class="item_marks">
                                                <li class="item_mark item_discount" style="color:yellow;width:67px;">Sắp hết hàng</li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul class="item_marks">
                                                <li class="item_mark item_discount" style="background-color:#d5d8da;color:red;width:67px;">Đã hết hàng</li>
                                            </ul>
                                        }
                                    }

                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


