@model List<TECHWORLD_1.Models.CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_frontEnd.cshtml";
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>


    body {
        font-family: Arial;
        font-size: 17px;
        padding: 8px;
    }

    * {
        box-sizing: border-box;
    }



    .col-25 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
    }

    .col-50 {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
    }

    .col-75 {
        -ms-flex: 75%; /* IE10 */
        flex: 75%;
    }

    .col-25,
    .col-50,
    .col-75 {
        padding: 0 16px;
    }

    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
    }

        .btn:hover {
            background-color: #45a049;
        }

    a {
        color: #2196F3;
    }

    hr {
        border: 1px solid lightgrey;
    }

    span.price {
        float: right;
        color: grey;
    }


    /*ThanhToan*/
    .customer_payment {
        width: 100%;
        margin-top: 30px;
        border: solid 1px #07050538;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
        padding-right: 46px;
        padding-left: 15px;
    }

    .location_oder {
        width: 100%;
        margin-top: 30px;
        border: dotted;
        border-color: #07050538;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
        padding-right: 46px;
        padding-left: 15px;
    }

    .div_boder_payment {
        padding-top: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid #c9c9c9;
        font-size: 11px;
        border-color: #ddd;
    }

    .select_payment_border {
        border: 0px solid;
        background: #007bff;
        text-align: center;
        width: 67px;
        height: 35px;
        padding: 5px;
        border-radius: 16px;
    }

    .hover_border_background:hover {
        background: #1da1f2a1;
    }

    .select_edit_oder_border {
        border: 1px solid;
        background: #fff;
        text-align: center;
        width: 67px;
        height: 35px;
        padding: 5px;
        border-radius: 8px;
    }
</style>

<br />
<div class="row" style="margin-bottom:115px;">
    <div class="col-75">
        <div class="container">
            <br />
            @if (Context.Session.Get<string>("HetHang") != null)
            {
                string hethang = Context.Session.Get<string>("HetHang");
                <div class="alert alert-danger" style="text-align:center;">@hethang</div>
                Context.Session.Remove("HetHang");
            }

            @if (Context.Session.Get<string>("OrderSuccess") != null)
            {
                var ordersuccess = Context.Session.Get<string>("OrderSuccess");
                <div class="alert alert-success" role="alert" style="text-align:center;">@ordersuccess</div>
                Context.Session.Remove("OrderSuccess");
            }

            @if (Context.Session.Get<List<CartItem>>("GioHang") != null)
            {
                @if (Context.Session.Get<KhachHang>("Username") != null)
                {
                    KhachHang kh = Context.Session.Get<KhachHang>("Username");
                    List<CartItem> myCart = Context.Session.Get<List<CartItem>>("GioHang");
                    double tongsoluongsp = 0;
                    foreach (var item in myCart)
                    {
                        tongsoluongsp += item.SoLuong;// Soluong là số lượng của một mặt hàng trong CartItem
                    }
                    <div class="col-lg-5">
                        <h3 style="color:#5f5f5f;font-weight:bold;">1. Địa Chỉ Giao Hàng</h3>
                        <div class="location_oder">
                            <div style="margin:10px">
                                <span style="color:red;">Giao hàng đến địa chỉ này? </span><span class="select_edit_oder_border hover_border_background" style="margin-left: 78px;"><a href="#" style="color:black;font-weight:bold;text-decoration:none;">Sửa</a></span>
                            </div>
                            <div class="div_boder_payment"></div>
                            <div style="margin-top:10px;margin-bottom:10px;">
                                <div style="font-weight:bolder;font-size:20px;">@kh.HoTen</div>
                                <div><b>Điện thoại: </b><i>@kh.DienThoai</i></div>
                                <div><b>Địa chỉ: </b><i>@kh.DiaChi</i></div>
                            </div>
                        </div>
                        <h3 style="color:#5f5f5f;font-weight:bold;">2. Đơn Hàng</h3>
                        <div class="customer_payment">
                            <div style="margin:10px">
                                <span>Đơn hàng gồm có : <span style="color:cadetblue; font-weight:bold;">@tongsoluongsp sản phẩm</span> </span> <span class="select_edit_oder_border hover_border_background" style="margin-left: 47px;"><a asp-controller="GioHang" asp-action="Index" style="color:black;font-weight:bold;text-decoration:none;">Sửa</a></span>
                            </div>
                            <div class="div_boder_payment"></div>
                            @{
                                double tongtien = 0;
                            }
                            @foreach (var item in myCart)
                            {

                                <table style="margin-top:10px;">
                                    <tr>
                                        <td style="padding-right: 45px;">
                                            <b><span>@item.SoLuong </span><span> x </span></b><span> <a style="text-decoration:none;" href="/san-pham/@item.MaHh/@item.TenHh.ToUrlFriendly()">@item.TenHh</a> </span>
                                        </td>
                                        <td style="padding-bottom: 24px;">@item.GiaBan.ToString("#,00#")</td>
                                    </tr>
                                </table>
                                tongtien = tongtien + item.ThanhTien;
                            }
                            <div class="div_boder_payment"></div><br />
                            <div><b>Tổng tiền:</b><span style="float:right;"> @tongtien.ToString("#,00#") đ</span></div>
                            <div><b>Phí vận chuyển:</b><span style="float:right;">0 đ</span></div>
                            <div class="div_boder_payment" style="border-bottom: 2px solid #c2bebe;"></div><br />
                            <div style="margin-bottom:10px;font-size:18px;"><b>Tổng hóa đơn:<span style="float:right;">@tongtien.ToString("#,00#") đ</span></b></div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <h3 style="color:#5f5f5f;font-weight:bold;">3. Chọn hình Thức Thanh Toán</h3>
                        <div class="customer_payment">
                            <div style="margin-top: 12px;">
                                <div>
                                    <span style="float:right;margin-right: 177px;margin-top: 7px;"> Thanh toán bằng tiền mặt khi nhận hàng.</span>
                                    <div class="select_payment_border hover_border_background">
                                        <a onclick="openPayment(event, 'TienMat')" href="#" class="tablinks" data-toggle="tab" id="defaultOpen" style="color: white;font-weight: bold;text-decoration: none;">Chọn</a>
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <span style="float:right;margin-right: 198px;margin-top: 7px;"> Thanh toán bằng <b style="font-size:18px"><span style="color:#173399;">Pay</span><span style="color: #0680d4;">Pal.</span></b> <a href="https://www.paypal.com/vn/webapps/mpp/home" style="text-decoration:none;font-size:12px;">What is Paypal?</a></span>
                                    <div class="select_payment_border hover_border_background">
                                        <a onclick="openPayment(event, 'Paypal')" href="#" class="tablinks" data-toggle="tab" style="color: white;font-weight: bold;text-decoration: none;">Chọn</a>
                                    </div>
                                </div>
                            </div>
                            <div class="div_boder_payment" style="padding-top: 17px;padding-bottom: 17px;"></div>
                            <div>
                                <div id="TienMat" class="tabcontent">
                                    <form asp-controller="ThanhToan" asp-action="HoaDonTV" method="post" style="margin-top: 15px;">

                                        <label for="id_postalcode">Ghi chú khi nhận hàng:</label>
                                        <textarea name="ghichu" placeholder="Viết ghi chú của bạn..." style="height:150px;width:569px;padding-left:10px;padding-top:10px;border-radius:7px;"></textarea>
                                        <input type="submit" value="Thanh Toán" class="btn" style="width:300px;font-size:22px;background-color:#0e8ce4;margin-left: 127px;">
                                    </form>
                                </div>
                                <div id="Paypal" class="tabcontent">
                                    <div style="margin-top:15px; margin-left:100px;margin-bottom:17px;">
                                        <div>
                                            <img src="~/images/img-paypal.PNG" />
                                        </div>
                                        <div style="margin-left:80px;margin-top:10px;">
                                            <table border="0" cellpadding="10" cellspacing="0" align="center">
                                                <tr>
                                                    <td align="center"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <a asp-controller="Paypal" asp-action="Checkout"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" /></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <div class="alert alert-danger" style="text-align:center;">
                        Vui lòng <a asp-controller="Login" asp-action="Index" style="text-decoration:none;font-weight:bold;">đăng nhập</a> để thanh toán. Nếu bạn chưa có tài khoản - Đăng ký <a asp-controller="Register" asp-action="Index" style="text-decoration: none;font-weight:bold;">Tại đây!!!</a>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-danger" style="text-align:center;">
                    Không có sản phẩm nào trong giỏ hàng. <a asp-controller="HangHoa" asp-action="Index" style="text-decoration:none;font-weight:bold;">Đến trang mua hàng!</a>
                </div>
            }


        </div>
    </div>

</div>

<!--Sản phẩm gợi ý-->
<div class="viewed">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="viewed_title_container">
                    <h3 class="viewed_title" style="font-family:serif; font-weight:bold;font-size:30px;">Sản Phẩm Gợi Ý</h3>
                    <div class="viewed_nav_container">
                        <div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
                        <div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>

                <div class="viewed_slider_container">

                    <!-- Recently Viewed Slider -->

                    <div class="owl-carousel owl-theme viewed_slider">

                        <!-- Recently Viewed Item -->
                        @{
                            TechWorld_2Context db = new TechWorld_2Context();
                            List<HangHoa> hh = db.HangHoa.ToList();
                            Random rd = new Random();
                            List<HangHoa> hh_rd = hh.OrderBy(x => rd.Next()).ToList();
                        }
                        @foreach (var item in hh_rd)
                        {
                            <div class="owl-item">
                                <div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center" style="height:270px;">
                                    <div class="viewed_image"><a href="/san-pham/@item.MaHh/@item.TenHhSeoUrl"><img src="~/HangHoa/@item.Hinh" alt=""></a></div>
                                    <div class="viewed_content text-center">
                                        @{
                                            double giaban = item.DonGia * (1 - item.GiamGia);
                                        }
                                        <div class="viewed_price">@giaban.ToString("#,##0") đ<br /><span>@item.DonGia.ToString("#,##0") đ</span></div>
                                        <div class="viewed_name"><a href="/san-pham/@item.MaHh/@item.TenHhSeoUrl">@item.TenHh</a></div>
                                    </div>
                                    @{
                                        if (item.SoLuong > 10)
                                        {
                                            double gg = item.GiamGia * 100;
                                            if (gg == 0)
                                            {
                                                <ul class="item_marks">
                                                    <li></li>
                                                </ul>
                                            }
                                            else
                                            {
                                                <ul class="item_marks">
                                                    <li class="item_mark item_discount">-@gg%</li>
                                                </ul>
                                            }

                                        }
                                        else if (item.SoLuong > 0)
                                        {
                                            <ul class="item_marks">
                                                <li class="item_mark item_discount" style="color:yellow;width:67px;">Sắp hết hàng</li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul class="item_marks">
                                                <li class="item_mark item_discount" style="background-color:#d5d8da;color:red;width:67px;">Đã hết hàng</li>
                                            </ul>
                                        }
                                    }

                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openPayment(evt, TypePayment) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(TypePayment).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
